#firstBanner{

    height: 950px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin: auto;
    gap: 15px;
    margin-inline:15%;
    margin-block:1%;

}

.genBtn:hover {

    background-color: #304e3e;
    color: white;

}

.bigTextContainer{
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    flex-basis: 50%;
    text-wrap: wrap;
    align-self: center;
    gap: 20px;
}

.bigTextContainer h1{
    font-size: 80px;
}

.bigTextContainer p{
    font-size: 25px;
}

.bigTextContainer button{
    padding: 20px;
    width: 40%;
    color: white;
    border-radius: 10px;
    margin-left: 30px;
}

.dynImgContainer
{
    display: flex;
    flex-grow: 1;
    border-radius: 10%;
    flex-basis: 50%;
    height: 640px;
    width: 640px; 
    align-self: center;
    overflow: hidden;  
    text-align: center;
    align-items: center;
    justify-content: center;

    transition: .3s;
    
}

.dynImgContainer:hover{

    rotate: 15deg;
    transition: .3s;

}


#bannerImg{
    
   object-fit: cover;
   height: 640px;

   transition: .3s;

}

#bannerImg:hover{

    rotate: -15deg;
    transition: .3s;
    height:800px;

}

#section2{
    margin-top: 25px;
    margin-bottom: 80px;
    padding-block: 15px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 60px;
}

#section2 h1{
    font-size: 40px;
    
    
}

.cardShowcase
{
    margin-block: 20px;
    display: flex;
    flex-direction: row;
    gap: 15px;
    max-width: 1400px;
}

/* Estilos específicos para la imagen */

.cardIn {

    display:flex;
    flex-direction: row;
    justify-content: center;
    gap: 10px;

}

.card
{
    display: flex;
    flex-direction: column;
    padding: 15px;
    align-items: stretch;
    gap: 20px;
    justify-content: space-between;
    height: 550px;
    background-color: #d9d9d9;
    max-width: 315px;
    border-radius: 6px;
    transition: .2s;
}



.card:nth-of-type(even){

    margin-top: 50px;

}

.card:nth-of-type(odd){

    margin-bottom: 50px;

}

.cardCover
{

    width: 305px;
    height: 336px;
    object-fit: cover;

}

.cardText h4{
    font-size: 25px;
}

.card > a{

    align-self: center;

}

.prev, .next{

    display: none;

}

/* Estilos para 3ra parte */
.fullImage img
{
    width: 100%;
    max-height: 900px;
    object-fit: cover;
    filter: brightness(0.7);
}

.overlay 
{
    position: absolute;
    top: 2650px;
    left: 60%;
    color: white;
    text-align:end;
    padding: 20px;
}

.overlay h1,
.overlay p {
    position: relative;
    left: -300%;
    transition: transform 1s ease-out;
}

.overlay h1 
{
    font-size: 2rem;
    margin-bottom: 1rem;

}

.overlay p 
{
    font-size: 1rem;
    justify-content: flex-end;
}
/* FIN Estilos para 3ra parte */


/* Estilos para 4ta parte - pagina principal*/
.faq 
{
    max-width: 600px;
    margin: 0 auto;
    padding: 40px;
}

h1
{
    position: relative;
    left: -15%;
}

details 
{
    border: none;
    border-radius: 8px;
    margin-bottom: 15px;
    padding: 20px;
    font-size: 20px;
    background-color: #f9f9f9;
}

summary 
{
    font-weight: bold;
    cursor: pointer;
}

/* FIN Estilos para 4ta parte */

@media screen and (max-width: 1600px) 
{
    #firstBanner 
    {
        height: auto; 
    }

    .dynImgContainer 
    {
        height: 500px; 
        width: 500px; 
    }

    .overlay
    {
        right: 10%;
        top: 3900px;
    }

    .card:hover{

        transform: scale(1.2);
        z-index: 2;
    
    }
   
}

@media screen and (max-width: 1250px) 
{
    #firstBanner 
    {
        flex-direction: column; 
        gap: 30px; 
    }
    .bigTextContainer 
    {
        flex-basis: 100%;
        padding: 10px;
    }
    .dynImgContainer 
    {
        flex-basis: 100%; 
        height: auto; 
        width: auto; 
        margin-block: 20px;
    }

    .overlay{

        left: 30%;
        top: 4200px;
        width: 60%;

    }

    .cardIn{

        justify-content: center;
        flex-wrap: wrap;

    }

    .cardCover{

        width: 100%;
        height: auto;
        overflow: hidden;

    }

    .card {

        display: flex;

    }

    .prev, .next{

        display: none;

    }
}

@media screen and (max-width: 1000px)
{
    #firstBanner 
    {
        flex-direction: column;
        height: auto;
        background:linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url('https://miro.medium.com/v2/resize:fit:826/1*knTujh2M6wxYL6ImZx1XmQ.jpeg'); 
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        
        margin: 0;
        padding: 15px;
    }

    #firstBanner .genBtn{

        align-self: center;
        margin: 0;

    }

    .bigTextContainer 
    {
        z-index: 1;
        flex-basis: 100%;
        max-width: 100%;
    }

    .bigTextContainer h1{

        font-size: 60px;

    }
    .dynImgContainer 
    {
        display: none;
    }

    #section2{

        gap: 5px;
        margin-block: 15px;

    }

    #section2 h1{

        text-align: center;
        font-size: 35px;
    }

    .cardShowcase {
        flex-direction: column; 
        justify-content: center;
        margin-block: 15px; 
    }

    .card:nth-of-type(even){

        margin-top: 0px;
    
    }
    
    .card:nth-of-type(odd){
    
        margin-bottom: 0px;
    
    }
    .prev, .next{

        display: block;
        position: absolute;
        cursor: pointer;
        text-decoration: none;
        background: rgba(0, 0, 0, .05);
        border-radius: .25rem;
        padding: .5rem;
    }

    .prev {

        left: 10px;
        text-decoration: none;

    }

    .next {

        right: 10px;
        text-decoration: none;

    }

    .toSlide {

        animation-name: fade;
        animation-duration: 1.5s;

    }

    @keyframes fade{

        from {opacity: .4}
        to {opacity: 1}

    }

    .cardCover 
    {
        width: 100%; 
        height: auto;
        overflow: hidden;
    }

    .bigTextContainer h1{
        color: white;
    }
    
    .bigTextContainer p{
        color: white;
    }

    .overlay {

        top: 3250px;
        left: 20%;

    }

    .fullImage{

        height: auto;
        width: 100%;
        overflow: hidden;

    }

    
    
}