.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: center;
    flex-direction: column;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px 40px;
    gap: 25px;
}

.box {
    display: flex;
    align-items: center;
    width: 100%;
    padding: 20px 40px;
    border: none;
    border-radius: 8px;
    background-color: #51BD83;
}

.text {
    flex: 1;
    padding: 0 20px;
}

img {
    max-width: 100%;
}

/* Estilos específicos para la imagen */
.box:nth-child(odd)
{
    flex-direction: row-reverse;
}

/* Media queries */
@media screen and (max-width: 1600px)
{
    .container 
    {
        max-width: 1200px; 
    }

    .box 
    {
        width: 48%; 
    }
    
    .box:nth-child(odd)
    {
        flex-direction: column;
    }
}

@media screen and (max-width: 1250px) {
    .box 
    {
        flex-direction: column; 
        width: 80%; 
    }
    img {
        order: -1; 
    }
}

@media screen and (max-width: 1000px) {
    .box {
        flex-direction: column; 
        width: 70%; 
    }
    img {
        order: -1; 
    }
}
