.compra{
    display: flex;
    justify-content: center;
}

h2{
    font-size: 50px;
    margin-top: 20px;
    margin-left: 20px;
}

.platos_box,.card_add_info {
    display: flex;
    flex-direction: column;
    height: 700px;
    margin-top: 20px;
    margin-bottom: 20px;
}

.card_add_info{
    margin-left: 1%;
}
.platos_box {
    background-color: #d9d9d9;
}

.adiciones_box {
    display: flex;
    flex-direction: column;
    background-color: #d9d9d9;
    height: 344px;
    margin-bottom: 10px;
    
}

.info_box {
    display: flex;
    flex-direction: column;
    background-color: #d9d9d9;
    height: 344px;
    justify-content: center;
}

.info_box h2,select,input{
    margin-left: 5%; 
      
}

.info_box select,input{
    width: 70%;
    margin-bottom: 20px;
}

.info_box button{
    width: 20%;
   margin-left: 40%;
   margin-bottom: 20px;
}

.food_Info{
    display: flex;
    width: 90%;
    height: 100px;
    padding: 4%;
}

.food_Info_Img {
    display: flex;
    background-color: #d9d9d9;
    width: 50%;
    height: auto; 
    justify-content: center;
}

.food_Info_Img img {
    display: flex;
    width: 90%;
    padding: 3%; 
}

.food_Info_Txt{
    display: flex;
    flex-direction: row;
    background-color: #d9d9d9;
    padding: 3%;
    width: 80%;
}
.food_Info_Cantidad{
    width: 50%;
    display: flex;
    flex-direction: column;
    align-items: center; 
    
}
.cantidad_Producto{
    width: 10%;
    margin: 0;
}

.food_Info_nombre{
    width: 50%;
}
.boton_Cantidad{
    display: flex;
    justify-content: center;
}

.boton_Cantidad button{
    margin: 0 5px;
    border-radius: 20px;
}
h5{
    display: inline;
    padding-top: 4%;
}

.adiciones_box .food_Info{
    padding: 2% 4%;
}

.btn_pagar{
   padding: 1% 0;
    color: white;
}

@media screen and (min-width: 870px) and (max-width: 1200px){
   
    .platos_box,.card_add_info{
        height: auto;
        width: 90%;
        margin-left: 1%;
        margin-right: 1%;
    } 
    
    .card_add_info{
        align-self: center;
        margin-bottom: 5%;
    }

    
    .adiciones_box{
        height: auto;
        margin-bottom: 10px;
    
    }
    .info_box{
        height:max-content;
    }
    .food_Info{
        height:auto;
        align-items: center;
    }
    .food_Info_Img {
        width: 70%;
    }
    .food_Info_Cantidad{
        justify-content: center;
    }
     
    .food_Info_Cantidad input{
        width: 10px;
    }
}

@media only screen and (max-width: 870px){
    .compra{
        flex-direction: column;
        
    }
    .platos_box,.card_add_info{
        height: auto;
        width: 90%;
    } 
    .platos_box{
       
        align-self: center;
    }
    .card_add_info{
        margin: 0;
       
        align-self: center;
        margin-bottom: 5%;
    }
    .platos_box h2, .adiciones_box h2{
        margin: 0;
        text-align: center;
    }
    
    .adiciones_box{
        height: auto;
    }
    .food_Info{
        height:auto;
        flex-direction: column;
        align-items: center;
    }
    .food_Info_Img {
        width: 70%;
    }
    .food_Info_Cantidad{
        justify-content: center;
    }
     
    .food_Info_Cantidad input{
        width: 10px;
    }
}